.env
__pycache__/
*.pyc
.airflowignore

airflow/logs/
airflow/.venv/
.venv/
venv/

.dbt/
target/
logs/

great_expectations/uncommitted/

.idea/
.vscode/
.DS_Store

storage/minio/
storage/iceberg/

*.parquet
*.crc

venv/
.venv/
__pycache__/
*.pyc


.env